@(events: List[pojo.Event]) @main("Memebrancer 2.5") {

<script>
var selectedEvent;

$(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,listMonth'
      },
	  themeSystem: 'bootstrap4',
      navLinks: true,
	  eventTextColor: 'white',
	  firstDay: 1, //monday first
      editable: true,
      eventDrop: function(event, delta, revertFunc) {

    	//ajax call    
		console.log(event);		
    	var calDate = new Date(event.start);
		calDate.setFullYear(event.className[0].split(';')[0]);
		console.log(calDate);
		
    	var saveStr = calDate.getDate()+"."+ (calDate.getMonth()+1) +"."+calDate.getFullYear()+";"+event.className[0].split(';')[1]+";"+event.title.split(':')[0];
		console.log(saveStr);

			$.ajax({
				url:'/update',
				method: 'GET',
				data: { event: event.id+";"+saveStr},
					success:function(data){
					console.log('response: '+data);
					return false;
				  }
			});
		
    	},
      dayClick: function(date, jsEvent, view) {

			//reset form
			selectedEvent=null;
			document.getElementById("eventForm").reset();
			document.getElementById("eventName").focus();
			
			//enable buttons -saveEvent
			var element = document.getElementById("saveEvent");
			element.classList.remove("active");
			
			var element = document.getElementById("deleteEvent");
			element.classList.add("active");
			
			//set values we know
			$('#eventId').val(-1);
			var d = new Date(date);
			$('#eventDate').val(d.toLocaleDateString("de-CH")); 
			$('#eventType').val(1);

    	},
      eventClick: function(calEvent, jsEvent, view) {

			//populate form
			selectedEvent=calEvent;
			document.getElementById("eventName").focus();

			//enable buttons
			var element = document.getElementById("saveEvent");
			element.classList.remove("active");
			
			var element = document.getElementById("deleteEvent");
			element.classList.remove("active");
			
			$.ajax({
		 	    url:'/getEventById',
		 	    method: 'GET',
		 	    data: { eventId: calEvent.id},
		 	    success:function(data){
					$('#eventId').val(data.lineNr);
		 	        $('#eventName').val(data.name);
					var d = new Date(data.date);
					$('#eventDate').val(d.toLocaleDateString("de-CH")); 
					$('#eventType').val(data.type);
		 	        return false;
		 	        }
		 	});
  	  },
      events: [
       
        @for(event <- events) {
				{
				    id: @event.getLineNr(),
					title: '@event.getDisplayName()',
					allDay: true,
					className: '@event.toGuiDate()' ,
					start: new Date((new Date()).getFullYear(), @event.getMonth(), @event.getDay()),
					@if(event.getType==0){ color: 'black' }
				},
		}
      ]
    });
  });
  
$('#calendar').fullCalendar({
	  
	});
	
function pad(num, size) {
    var s = num+"";
    while (s.length < size) s = "0" + s;
    return s;
}

function saveEventAction() {
    console.log('saving...');
	document.getElementById("eventName").focus();
	
	var eventId = $('#eventId').val();
	var eventName = $('#eventName').val();
	var eventType = $('#eventType').val();
	var eventDate = $('#eventDate').val();
	
	//input validation
	var hasErrors = checkInput(eventName, eventDate);
	if (hasErrors)
		return
	
	var eventDateAsDate = new Date(eventDate.split('.')[2],eventDate.split('.')[1]-1,eventDate.split('.')[0])
	var diff = new Date().getFullYear() - eventDateAsDate.getFullYear();
	var eventTitle = eventName+": "+eventDateAsDate.getFullYear() + " ("+diff+")";
	eventDateAsDate.setFullYear(new Date().getFullYear());
	
	if(eventId<0){ //insert
		var eventObject={id:-1, title: eventTitle, start: eventDateAsDate, allDay: true};
		if(eventType=="0"){
			eventObject.color='black';
		}

		//ajax call
		$.ajax({
		 	url:'/create',
		 	method: 'GET',
		 	data: { event: "-1;"+eventDate+";"+eventType+";"+eventName},
					success:function(data){
						console.log(data)
						eventObject.id=data;
						console.log(eventObject);
						$('#calendar').fullCalendar('renderEvent', eventObject, true);
		 	        }
		 	});
	}else{ //update
		console.log(selectedEvent);
		selectedEvent.title=eventTitle;
		selectedEvent.color='#3A87AD';
		if(eventType=="0"){
			selectedEvent.color='black';
		}
		$('#calendar').fullCalendar('updateEvent', selectedEvent);

		if(eventId>-1){
			//ajax call
			$.ajax({
				url:'/update',
				method: 'GET',
				data: { event: eventId+";"+eventDate+";"+eventType+";"+eventName},
				success:function(data){
					console.log('response: '+data);
					return false;
				 }
			});
		}
	}
	
	document.getElementById("eventForm").reset();
	
	//diable buttons	
	var element = document.getElementById("saveEvent");
	element.classList.add("active");
	var element = document.getElementById("deleteEvent");
	element.classList.add("active");

}

function deleteEventAction(){

   var eventId = $('#eventId').val();

   $('#calendar').fullCalendar('removeEvents', eventId);

	//delete
	$.ajax({
		url:'/delete',
		method: 'GET',
		data: { eventId: eventId},
		success:function(data){
		 	console.log('response: '+data);
		 	return false;
		}
	});
	location.reload();		   
}

function selectYear(){
	var input = document.getElementById("eventDate");
    setInputSelection(input);
    return false;
}

function setInputSelection(input) {
    var startPos = input.value.length-4;
	var endPos = input.value.length;
    input.focus();
    if (typeof input.selectionStart != "undefined") {
        input.selectionStart = startPos;
        input.selectionEnd = endPos;
    } else if (document.selection && document.selection.createRange) {
        // IE branch
        input.select();
        var range = document.selection.createRange();
        range.collapse(true);
        range.moveEnd("character", endPos);
        range.moveStart("character", startPos);
        range.select();
    }
}

function checkInput(eventName, eventDate){

	var hasErrors = false;

	if(eventName=='' || eventDate=='') hasErrors=true;
		
	var d = eventDate.split('.')[0];
	var m = eventDate.split('.')[1];
	var y = eventDate.split('.')[2];
	
	if(d=='') hasErrors = true
	if(m=='') hasErrors = true
	if(y=='') hasErrors = true
	
	var dt = new Date(y, m, d);
	console.log(dt);
	if(dt=='Invalid Date') hasErrors=true;
		
	if(hasErrors) alert('check your input');
		
	return hasErrors;

}

</script>
<style>
body {
	margin: 20px 10px;
	padding: 0;
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
}

#calendar {
	max-width: 900px;
	margin: 0 auto;
}

  #top,
  #calendar.fc-unthemed {
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  }

  #top {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    font-size: 12px;
    color: #000;
  }

  #top .selector {
    display: inline-block;
    margin-right: 10px;
  }

  #top select {
    font: inherit; /* mock what Boostrap does, don't compete  */
  }

* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 20px;
}

/* Left  column */
.column.side {
    width: 20%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

</style>

<div class="row">
  <div class="column side">
	
    <form id="eventForm">

		<h3>Event Details</h3>
		
		<table><tr><td>
				<label>Event Id:</label></td><td>
				<input class="form-control" style="border: 0" type="text" readonly id="eventId" />
			</td></tr>
			<tr><td>
				<label>Name:</label></td><td>
				<input class="form-control" type="text" size=10 id="eventName" placeholder="Name"/>
			</td></tr>
			<tr><td>
				<label>Event Date:</label></td><td>
				<input class="form-control" type="text" size=10 id="eventDate" placeholder="Date" onfocus="selectYear()"/>
			</td></tr>
			<tr><td>
				<label>Type:</label></td><td>
				<select class="form-control" id="eventType">
					<option value="1">Birth</option>
					<option value="0">Dead</option>
				</select>
			</td></tr>
		</form>
		<tr><td></td><td>
		<br>
		<div class="btn-group">

		<button type="button" id="saveEvent" onclick="saveEventAction()" class="btn btn-primary active">Save</button>
		<button type="button" id="deleteEvent" onclick="deleteEventAction()" class="btn btn-primary active">Delete</button>
		</div>
		</td></tr>
		</table>

  </div>
  <div class="column middle">
  
	<div id='calendar'></div>
	
  </div>
</div>
}